# Node / npm
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
*.tmp

# Build artifacts
dist/
build/
coverage/

# OS
.DS_Store
Thumbs.db

# Prisma
server/prisma/*.db
server/prisma/*.log
